@page "/"

<PageTitle>Order Management</PageTitle>

<h3>Test Task for Developer</h3>
<a title="Instructions" href="/content/Pref Test Task_DOTNET.pdf" target="_blank">Instructions</a>

<br />
<br /><strong>Date:</strong> 16th April, 2023
<br /><strong>Name:</strong> Md Rahatur Rahman
<br /><strong>Email:</strong> rahat651@hotmail.com
